@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Formular';
  color: #000;
  font-size: 16px;
  line-height: 32px;
  position: relative;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}


a:hover {
  color: inherit;
  text-decoration: none;
}


.upr {
  text-transform: uppercase;
}

.und {
  text-decoration: underline;
}

.container {
    max-width: 1594px;
}

.header-menu {
  list-style: none;
  margin: 0 40px 0 0;
  padding: 0;
}

.header-wrp {
  height: 100px;
  justify-content: space-between;
}

.header-logo {
  margin: 32px 0;
  display: block;
}

.header-menu__link {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  padding: 0 15px;
  position: relative;
}

.header-menu__link:hover {
  color: #478CD0;
}

.header-search__btn {
  border: none;
  background: transparent;
  display: block;
  margin: 31px 0 50px;
  width: 41px;
  border-radius: 50%;
}

.header-search__btn:hover {
  background: #2DBAFF;
}

.header-search__btn:hover svg {
  fill: #fff;
}

.header-search__btn svg {
  margin-top: -1px;
  fill: #000;
}

.main-slider__block {
  max-height: 700px;
  width: 100%;
  padding: 153px 0 100px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__block:before {
  content: '';
  top: 0;
  left: 0;
  background-image: url('../img/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 1000px;
  height: 100%;
  z-index: 0;
}

.banner-ttl {
  color: #fff;
  font-size: 100px;
  line-height: 30px;
  font-family: 'HelveticaNeueCyr';
  margin-bottom: 25px;
  font-weight: 900;
}

.banner-subttl {
  font-weight: 900;
  font-size: 35px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.banner-text {
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 50px;
}

.main-slider__text {
  max-width: 450px;
  margin-left: 130px;
}

.btn-slider {
  background: #FFFFFF;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 0.05em;
  width: 260px;
  height: 60px;
  display: block;
  font-weight: 700;
  padding: 23px 40px;
  position: relative;
}

.btn-slider:after {
  content: "";
  position: absolute;
  top: 26px;
  right: 40px;
  width: 8px;
  height: 12px;
  background-image: url('../img/bnt-str.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-slider:focus {
  outline: none;
}

.main-slider__text {
  position: relative;
  z-index: 5;
}

.about-index {
  background: #f8f8f8;
  padding: 100px 0;
  position: relative;
}

.about-index__block {  
  justify-content: space-between;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #f8f8f8;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: -50px;
  margin-left: -50px;
}

.about-index__ttl {
  display: flex;
  flex-direction: column;
  max-width: 354px;
}

.about-index__ttl p {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #171717;
  font-family: 'HelveticaNeueCyr';
  margin-bottom: 65px;
}

.about-index__text {
  font-size: 18px;
  line-height: 30px;
  max-width: 1109px;
  margin-bottom: 30px;
}

.about-index__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.about-index__button {
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #171717;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  border: none;
  padding: 22px 10px 21px;
  font-size: 15px;
  line-height: 17px;
  width: 500px;
}

.about-index__item {
   margin: 0 10px;
}

.about-index__item:first-child {
  margin-left: 0;
}

.about-index__item:last-child {
  margin-right: 0;
}

.about-index__button:hover, .about-index__button:focus {
  background: #1191D0;
  color: #fff;
  border: none;
  outline: none;
}

.about-index__button.active {
  background: #1191D0;
  color: #fff;
}


.about-index__inn-ttl {
  font-size: 40px;
  font-family: 'HelveticaNeueCyr';
  font-size: 40px;
  line-height: 42px;
  color: #212121;
  margin: 70px 0 50px;
}

.about-index__inn p {
  margin-bottom: 30px;
}

.about-index__link-wpr {
  margin-top: 80px;
  display: flex;
  position: relative;
}

.about-index__link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 435px;
  margin-right: 50px;
}

.about-index__link {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 700;
  display: block;
  z-index: 5;
  position: relative;
  min-height: 44px;
}

.about-index__link:hover {
  color: #1191D0;
}

.about-index__inn::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: url(../img/bg-tab1.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100%;
  background-size: contain;
  max-width: 700px;
  z-index: 0;
  opacity: 0;
}

.active.about-index__tab-one .about-index__inn::after {
  opacity: 1;
}

.about-index__tab {
  display: none;
}


.about-index__tab.active {
  display: block;
}

.about-index__inn-text {
  max-width: 667px;
}

.about-index__inn-img {
  max-width: 50%;
}

.about-index__inn-img img {
  width: 100%;
}

.about-index__inn {
  position: relative;
  overflow: hidden;
}

.about-index__inn::before {
    position: absolute;
    content: "";
    top: -130px;
    left: -12px;
    width: 70px;
    height: 100%;
    background-image: url(../img/bg-about.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn{
  background: #1191D0;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
  width: 225px;
  height: 50px;
  display: block;
  font-weight: 700;
  padding: 17px 40px;
  position: relative;
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:after {
  content: "";
  position: absolute;
  top: 19px;
  right: 60px;
  width: 8px;
  height: 12px;
  background-image: url('../img/bnt-str-w.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:hover {
  color: #fff;
  background: rgba(17, 145, 208, 0.9);
}

.section-ttl {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #171717;
}

.novelty {
  padding: 100px 0 70px;  
}

.novelty .section-ttl {
  margin-bottom: -10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding-left: 50px;
  margin-left: -50px;
}

.news .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding-left: 50px;
  margin-left: -50px;
}

.about-inner .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding-left: 50px;
  margin-left: -50px;
  margin-bottom: 40px;
}

.about .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #f8f8f8;
  padding-left: 50px;
  margin-left: 0px;
  max-width: 600px;
}

.novelty-item__img {
  background: #F8F8F8;
  border-radius: 5px;
  max-width: 384px;
  height: 384px;
  margin-bottom: 30px;
}

.novelty-item__img img {
  width: 100%;
}

.novelty-item {
  max-width: 384px;
  margin: 10px;
}

.novelty-item:hover .novelty-item__ttl{
  color: #1191D0;
}

.novelty-item:first-child {
  margin-left: 0;
}

.novelty-item a:focus {
  outline: none;
}

.novelty__link {
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #1191D0;
  padding: 15px 40px 0;
  font-weight: 400;
  background: #fff;
  overflow: hidden;
  z-index: 2;
}

.novelty-item__text {
  font-family: 'HelveticaNeueCyr';
  font-size: 16px;
  line-height: 30px;
  color: #000;
  margin-bottom: 0;
}

.novelty-item__ttl {
  font-family: 'HelveticaNeueCyr';
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #000;
}

.prev-left {
  position: absolute;
  z-index: 4;
  width: 41px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/str-w1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 53%;
  left: 150px;  
  outline: none;
  padding: 15px;
}

.prev-right {
  position: absolute;
  z-index: 4;
  width: 41px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/str-w1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
  top: 53%;
  right: 150px;
  outline: none;
  padding: 15px;
}

.prev-left:focus, .prev-right:focus {
  outline: none;
}

.prev-left:hover, .prev-right:hover {
  background-image: url("../img/str-activ.svg");
}

.prev-left:hover {
  transform: rotate(180deg);
}

.prev-right:hover {
  transform: none;
}

.prev-left__n {
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f8f8f8;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: -47px;
  right: 59px;
  transform: rotate(180deg);
  outline: none;
  padding: 15px 40px;
  overflow: hidden;
}

.prev-right__n {
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f8f8f8;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: -47px;
  right: 0px;
  outline: none;
  padding: 15px 40px 15px 37px;
}


.prev-left__n:focus, .prev-right__n:focus {
  outline: none;
}

.prev-left__n:hover, .prev-right__n:hover {
  background-image: url("../img/str-activ.svg");
}

.hr-line {
  opacity: 0.3;
  background: #000000;
  width: 100%;
  height: 1px;
  margin-top: 13px;
}

.novelty-ttl__wpr {
  width: 91%;
}

.news {
  background-color: #f8f8f8;
  padding: 100px 0 0;
}

.news-link__wpr {
  justify-content: space-between;
  padding: 27px 0 50px;
  max-width: 1265px;
}

.news-ttl__link {
  font-family: 'HelveticaNeueCyr';
  font-size: 20px;
  line-height: 22px;
  color: #000000;
}

.news-ttl__link:hover {
  color: #1191D0;
}

.prev-left__news {
  position: absolute;
  z-index: 4;
  width: 41px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/str.svg");
  background-repeat: no-repeat;
  background-repeat: cover;
  top: 45%;
  left: -15px;
  outline: none;
  transform: rotate(180deg);
}

.prev-right__news {
  position: absolute;
  z-index: 4;
  width: 41px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-image: url("../img/str.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 45%;
  right: -15px;
  outline: none;
}

.news-item {
  background: #fff;
  padding: 30px 30px 15px;
  margin: 10px;
  border-radius: 5px;
}

.news-item:hover, .news-item:focus, .news-item:active {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  outline: none;
}

.news-item a:focus {
  outline: none;
}

.news-item__data {
  font-family: 'HelveticaNeueCyr';
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 20px;
}

.news-item__ttl {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-top: 24px;
  height: 112px;
  overflow: hidden;
}

.news-item:hover .news-item__ttl {
  color: #1191D0;
}

.news-item__img {
  max-width: 324px;
  position: relative;
}

.news-item__img img {
  width: 100%;
}

.news-item__topic {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 15px;
  background-color: #1191D0;
  border-radius: 5px;
}

.news-link__btn {
  margin: 55px auto 0;
  width: 240px;
  height: 60px;
  padding: 23px 40px;
}

.news-link__btn.btn::after {
  top: 24px;
  right: 43px;
}

.prev-left__news:focus, .prev-right__news:focus {
  outline: none;
}

.prev-left__news:hover, .prev-right__news:hover {
  background-image: url("../img/str-activ.svg");
}

.subscribe {
  padding: 52px 0 100px;
  position: relative;
}

.subscribe::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-image: url('../img/subscr-bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 41%;
  height: 100%;
}

.subscribe::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  background-image: url('../img/subscr-bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 21%;
  height: 100%;
}

.subscribe-ttl {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  position: relative;
  max-width: 550px;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  margin-left: 155px;
}

.subscribe-block p {
  max-width: 545px;
  font-size: 16px;
  line-height: 28px;
  color: #262626;
  margin-bottom: 96px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.subscribe-form__input {
  width: 60%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #000;
  padding: 11px 0;
  margin-right: 30px;
}

.subscribe-form__input::placeholder {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.subscribe__btn {
  text-align: left;
  padding: 17px 30px;
}

.subscribe__btn.btn:after {
  right: 27px;
}

.about {
  padding: 100px 0;
  background: url(../img/horiba-bg.png) #f8f8f8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 50%;
}

.about-block {
  width: 725px;
  margin: 35px 0 0;
}

.about__btn {
  width: 251px;
}

.about__btn.btn:after {
  right: 40px;
}

.about__img {
  max-width: 50%;
  margin-top: -50px;
  overflow: hidden;
  position: relative;
}

.about__img img {
  width: 100%;
}

.about-wrp {
  justify-content: space-between;
}

.about-block p {
  margin-bottom: 55px;
}

.main-footer {
  padding: 100px 0;
}

.main-footer__inn {
  justify-content: space-between;
}

.footer-menu-wpr {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.footer-ttl, .footer-item__link {
  color: #ACACAC;
  font-family: 'HelveticaNeueCyr';
  font-weight: 550;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu ul {
  margin: 0 0 24px;
  padding: 0;
  list-style: none;
}

.footer-contacts p {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ACACAC;
  margin-top: 10px;
}

.footer-contacts p a {
  color: #1191D0;
}

.footer-tel {
  display: block;
  font-family: 'HelveticaNeueCyr';    
  font-weight: 550;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #1191D0;
  margin-bottom: 10px;
}

.footer-tel:hover {
  color: #000;
}

.footer-logo__wpr {
  text-align: right;
}

.footer-copy {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ACACAC;
  margin-bottom: auto;
}

.footer-icon__wpr {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 70px;
  max-width: 250px;
  margin-left: auto;
}

.btn-link__en {
  width: 80px;
  height: 42px;
  background: transparent;
  border: 1px solid #C4C4C4;
  color: #1191D0;
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-size: 16px;
  line-height: 25px;
  text-transform: none;
  padding: 10px 20px;
  text-align: left;
}

.btn-link__en.btn::after {
  background-image: url('../img/str-bl.svg');
  top: 15px;
  right: 15px;
}

.btn-link__en:hover.btn::after {
  background-image: url('../img/bnt-str-w.svg');
}

.footer-icon {
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  padding: 12px 9px;
  width: 42px;
  height: 42px;
  margin-right: 20px;
}

.footer-icon svg {
  display: block;
}

.footer-icon svg path {
  fill: #1191D0;
}

.footer-icon:hover {
  background-color: #1191D0;
  border: 1px solid #1191D0;
}

.footer-icon:hover svg path {
  fill: #fff;
}

.footer-item__link:hover, .footer-subitem__link:hover {
  color: #1191D0;
}

.footer-subitem__link {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #ACACAC;
  display: block;
  margin: 0;
}

.popup__ttl {
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  color: #1191D0;
  margin-bottom: 40px;
}


.popop__text {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  max-width: 903px;
  margin-bottom: 40px;
}

.main-header {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.subscribe-form__input:focus, .popup-input:focus, .search-input:focus, .btn-search:focus, .search-close:focus, .header-search__btn:focus {
  outline: none;
}

.popup-input {
  width: 380px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #000;
  padding: 11px 0;
  background: transparent;
  margin-bottom: 40px;
}

.popup-input::placeholder {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.popup__container {
  max-width: 1056px;
}

.popup-form {
  max-width: 787px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup__policy {
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  display: block;
  margin: 0 auto;
}

.popup__policy a {
  text-decoration: underline;
  color: #1191D0;
}

.btn-popup.btn::after {
  display: none;
}

.btn-popup {
  display: block;
  margin: 40px auto 0;
  width: 250px;
  height: 60px;
  padding: 17px 20px;;
}

.fancybox-content {
  overflow: visible;
}

.fancybox-close-small {
  right: 40px!important;
  top: -18px!important;
  background: #1191D0;
  border-radius: 50px;
  opacity: 1!important;
}

.fancybox-button svg path {
    fill: #fff;
}

.search-block {
  position: absolute;
  background: #1191D0;
  width: 100%;
  height: 100px;
  top: 100px;
  left: 0;
  z-index: 10;
  padding: 26px 0 30px;
  display: none;
}

.search-block.active {
  display: block;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #fff;
  padding: 0;
  background: transparent;
  width: 83%;
  color: #fff;

}

.search-input::placeholder {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.search-close {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 10px;
  padding: 5px 0 6px;
}

.btn-search {
  width: 168px;
  height: 50px;
  background: #fff;
  color: #262626;
  padding: 18px 35px;
  text-align: left;
}

.btn-search:hover {
  background: #fff;
  color: #262626;
}


.btn-search.btn:after {
  background-image: url(../img/bnt-str.svg);
  top: 20px;
  right: 39px;
}

.footer-contacts__mail {
  text-decoration: underline;
}

.footer-contacts__mail:hover {
  text-decoration: none;
}

.subscribe-block a {
  color: #1191D0;
}

.header-submenu-wrp {
  position: absolute;
  background: #f6f6f6;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 10;
  padding: 60px 0 80px;
  display: none;
}

.header-submenu {
  display: flex;
  justify-content: space-between;
}

.header-menu__item:hover .header-submenu-wrp {
  display: block;
}

.header-menu__item {
  padding: 40px 0 50px;
}

.header-submenu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-submenu__link {
  font-family: 'Formular';
  font-size: 16px;
  line-height: 18px;
  color: #262626;
  margin-bottom: 30px;
}

.header-submenu__link.main {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header-submenu__link:hover {
  color: #1191D0;
}

.news-item.slick-list {
  overflow: visible!important;
}

.main-slider .slick-dots {
    text-align: left!important;
    padding-left: 300px!important;    
    bottom: 50px!important;
}

.main-slider .slick-dots li button:before{
  font-size: 9px!important;
  color: #fff!important;
  opacity: 1!important;
}

.main-slider .slick-dots li.slick-active button:before{
  content: ""!important;
  background-image: url('../img/sli-d.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px!important;
  background-position-y: 60%;
  }

  .main-slider .slick-dots li.slick-active {
    width: 45px!important;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0!important;
  }

  .section {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: #000000;
    position: relative;
    z-index: 0;
    top: 20px;
  }

  .section__zero:before {
    position: absolute;
    top: -15px;
    left: 40px;
    content: "";
    color: #262626;
    font-size: 18px;
    transform: rotate(-90deg);
    background: #f8f8f8;
    padding: 0 6px;
  }

  .section__one:before {
    position: absolute;
    top: -15px;
    left: 40px;
    content: "01";
    color: #262626;
    font-size: 18px;
    transform: rotate(-90deg);
    background: #f8f8f8;
    padding: 0 6px;
  }

  .section__two:before {
    position: absolute;
    top: -15px;
    left: 40px;
    content: "02";
    color: #262626;
    font-size: 18px;
    transform: rotate(-90deg);
    background: #f8f8f8;
    padding: 0 6px;
  }

  .section__three:before {
    position: absolute;
    top: -15px;
    left: 40px;
    content: "03";
    color: #262626;
    font-size: 18px;
    transform: rotate(-90deg);
    background: #f8f8f8;
    padding: 0 6px;
  }

  .section__four:before {
    position: absolute;
    top: -15px;
    left: 40px;
    content: "04";
    color: #262626;
    font-size: 18px;
    transform: rotate(-90deg);
    background: #f8f8f8;
    padding: 0 6px;
  }

  .crumbs__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .crumbs {
    padding: 50px 0;
  }

  .crumbs__item {
    position: relative;
    padding-right: 40px;
  }

  .crumbs__item:after {
    content: "";
    position: absolute;
    top: 14.5px;
    right: 10px;
    background: url('../img/crumb-str.svg') no-repeat;
    background-size: cover;
    width: 20px;
    height: 5px;
  }

  .crumbs__item:last-child:after {
    opacity: 0
  }

  .about-inner__subttl {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .about-inner {
    padding-bottom: 70px;
  }

  .about-inner__img {
    float: right;
    padding: 0 0 30px 30px;
    max-width: 665px;
    position: relative;
  }

  .about-inner p {
    margin-bottom: 25px;
  }

  .about-inner__img:before {
    position: absolute;
    content: "";
    top: 40%;
    left: 50%;
    width: 71px;
    height: 71px;
    background: url('../img/about-video.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .about-inner__img img {
    width: 100%;
  }

  .contacts-inner .section-ttl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 40px;
}

.contacts-inner__block {
  max-width: 600px;
}

.contacts-inner__block p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.contacts-inner__block-ttl {
  font-weight: 700;  
  margin-bottom: 20px!important;
}

.contacts-inner__block a {
  display: block;
  color: #000;
}

.contacts-inner__block a:hover {
  text-decoration: underline;
}

.contacts-inner__img {
  width: 60%;
  max-width: 924px;
}

.contacts-inner__img img {
  width: 100%;
}

.contacts-inner__block-wpr {
  justify-content: space-between;
}

.contacts-form {
  padding: 150px 0 100px;
  background: #f8f8f8;
}

.contacts-form .btn {
  width: 295px;
}
.contacts-form .btn:after {
    top: 20px;
    right: 28px;
    width: 7px;
    height: 12px;
    background-size: contain;
  }

.contacts-form__img {
  margin-right: -175px;
  max-width: 940px;
}

.contacts-form__img img {
  width: 100%;
}

.contacts-form__inn-wpr {
  width: 50%;
  max-width: 788px;
}

.contacts-form__inn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-form__inn input {
  width: 48%;
}

.contacts-form__inn-wpr .section-ttl span{
  color: #1191D0;
}

.contacts-form__inn-wpr p{
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
}

.news-inn .news-item {
  width: 370px;
}

.news-inner .section-ttl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #f8f8f8;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 40px;
}

.news-inner {
  background: #f8f8f8;
}

.news-inn {
  justify-content: space-between;
}

.pagin-block__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 0 0 0;
}

.pagin-block__list a{
  color: inherit;
  padding: 15px 18px;
  font-size: 15px;
  line-height: 17px;
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  margin: 0 1px;
}

.pagin-block__list a:hover {
  background:  #1191D0;
  border-radius: 50px;
  color: #fff;
}

.pagin-block__btn {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px solid #262626;
  border-radius: 50%;
  margin: 0 50px;
  padding: 7px;
}

.pagin-block__btn:focus {
  outline: none;
}

.pagin-block {
  justify-content: center;
}

.pagin-block__btn svg {
  stroke: #262626;
}

.pagin-block__btn:hover svg {
  stroke: #fff;
}

.pagin-block__btn:hover {
  background:  #1191D0;
  border: 1px solid #1191D0;
}

.pagination {
  padding: 60px 0 100px;
}

.news-inner__link {
  background: #1191D0;
  border-radius: 5px;
  color: #fff;
  padding: 0px 14px;
  font-size: 14px;
  font-family: 'HelveticaNeueCyr';
  margin: 0px 40px 40px 0;
  z-index: 2;
  overflow: hidden;
  display: block;
}

.news-inner__link:hover {
  color: #fff;
}

.news-inn {
  background: #f8f8f8;
  padding-bottom: 100px;
}

.news-inn__wpr {
  background: #fff;
  padding: 50px 45px 90px;
}

.news-inn__img img {
  width: 100%;
  margin: 40px 0 50px; 
}

.news-inn .section-ttl {
  font-size: 40px;
  line-height: 55px;
  margin: 30px 0 55px;
}

.news-inn__video img {
  width: 100%;
}

.news-inn__video {
  margin: 40px 60px 0;
  position: relative;
}

.news-inn__video:after {
  position: absolute;
  content: "";
  top: 35%;
  left: 50%;
  width: 106px;
  height: 106px;
  background: url('../img/about-video.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.news-inn__news-link a {
  text-decoration-line: underline;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin: 0 25px;
  display: block;
  font-family: 'HelveticaNeueCyr';
}

.news-inn__news-link {
  justify-content: flex-end;
}

.news-inn__news-link a:last-child {
  margin-right: 0;
}

.news-inn__news-link a:hover {
  color: #1191D0;
}

.news-inn__data {
  font-family: 'HelveticaNeueCyr';
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin: 7px 0 0;
}

.news-inn__link {
  font-family: 'HelveticaNeueCyr';
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  background-color: #1191D0;
  padding: 7px 10px 4px;
  border-radius: 5px;
  margin: 0 13px;
}

.news-inn__link:hover {
  color: #fff;
}

.news-inn__data-wpr {
  align-items: center;
  justify-content: flex-start;
}

.news-inn__ttl {
  font-weight: 700;
}

.news-inn__wpr p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.news-inn__block-wpr {
  display: flex;
  justify-content: space-between;
}

.news-inn__block {
  max-width: 828px;
  width: 57%;
}

.news-inn__block-img {
  display: flex;
  flex-direction: column;
  max-width: 595px;
  width: 40%;
}

.news-inn__block-img img {
  width: 100%;
}

.news-inn__block-ttl {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 34px;
}

.vacancy .section-ttl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #f8f8f8;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 40px;
}

.vacancy {
  background: #f8f8f8;
}

.vacancy-item {
  background: #fff;
  padding: 40px 54px;
  margin: 0 0 20px;
}

.vacancy__subttl {
  font-size: 30px;
  line-height: 55px;
  color: #171717;
  font-family: 'HelveticaNeueCyr';
  margin-top: -40px;
}

.vacancy-item__inn {
  display: none;
}

.vacancy-item.active .vacancy-item__inn {
  display: block;
}

.hide-vacan {
  display: none;
}

.vacancy-item.active .hide-vacan {
  display: inline-block;
}

.vacancy-item.active .show-vacan {
  display: none;
}

.vacancy-item__ttl {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  color: #1191D0;
  display: inline-block;
  margin-right: 50px;
}

.show-vacan, .hide-vacan {
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 55px;
  text-decoration-line: underline;
  color: #1191D0;
}

.vacancy-item__inn ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vacancy-item__inn p, .vacancy-item__inn ul {
  font-size: 16px;
  line-height: 28px;
  font-family: HelveticaNeueCyr;
  color: #262626;
  margin-bottom: 0;
}

.banner-inner__text-wpr {
  position: relative;
}

.banner-inner__text {
  padding: 68px 0;
}

.banner-inner__img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-inner__text-t{
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-size: 25px;
  line-height: 30px;
  position: relative;
}

.banner-inner__text-ttl {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  margin-bottom: 25px;
  color: #fff;
  position: relative;
}

.banner-inner__img:before {
    content: '';
    top: 0;
    left: 0;
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -13px;
    position: absolute;
    max-width: 816px;
    width: 50%;
    height: 100%;
    z-index: 0;
}

.laborat .section-ttl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #f8f8f8;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 40px;
}

.laborat__subttl {
  font-weight: 700;
  margin-bottom: 0;
}

.laborat p, .laborat-inn p{
  font-size: 16px;
  line-height: 28px;
  font-family: HelveticaNeueCyr;
  color: #262626;
}

.laborat__img {
  margin: 40px 0;
}

.laborat__img img {
  width: 100%;
}

.laborat {
  padding-bottom: 90px;
}

.laborat-inn {
  padding: 100px 0 0;
  background: #f8f8f8;
}

.laborat-inn__text {
  max-width: 922px;
  width: 57%;
}

.laborat-inn__img {
  max-width: 595px;
  width: 43%;
  position: relative;
}

.laborat-inn__block {
  justify-content: space-between;
  margin-top: 60px;
}

.laborat-inn__img img{
  width: 100%;
}

.laborat-inn__img:after {
  position: absolute;
  content: "";
  top: 35%;
  left: 42%;
  width: 71px;
  height: 71px;
  background: url('../img/about-video.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.contacts__text {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.servises {
  background: #f8f8f8;
}

.servises-list {
  justify-content: space-between;
  padding: 58px 0 100px;
  background: #f8f8f8;
}

.servises-item {
  max-width: 384px;
  height: 216px;
  background: #1191D0;
  border-radius: 5px;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 25px 35px 0 30px;
  overflow: hidden;
  width: 25%;
}

.servises .section-ttl {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #f8f8f8;
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 40px;
}

.servises-item img {
  display: block;
  margin-left: auto;
}

.servises-item p {
  min-height: 83px;
  margin-bottom: 0;
}

.servises-about {
  background: #f8f8f8;
  padding: 90px 0;
}

.servises-about__block {
  justify-content: space-between;
  margin-top: 90px;
}

.servises-about__text {
  max-width: 736px;
  width: 49%;
}

.servises-about__text p,  .servises-about__text ul{
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.servises-about__subttl {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 30px;
}

.servises-about__text ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.servises-about__form {
  width: 49%;
  max-width: 822px;
}

.servises-about__subttl:first-child {
  margin-top: 0;
}

.servises-about__form .btn {
    width: 295px;
}

.servises-about__form .btn:after {
    top: 20px;
    right: 28px;
    width: 7px;
    height: 12px;
    background-size: contain;
}

.servises-about__form .popup__policy {
  margin: 0;
}

.jq-file {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 60px;
    box-shadow: none;
    align-items: center;
}

.jq-file__name {
  font: 16px/28px 'HelveticaNeueCyr';
  box-shadow: none;
  border: none;
  background: transparent;
  border-radius: 0;
  color: #000;
  padding: 6px 30px;
  position: relative;
}

.jq-file__name:before {
  opacity: 0.2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 2px;
  background: #000;
}

.jq-file__browse {
    padding: 14px 40px;
    border: none;
    border-radius: 50px;
    background: #1191D0;
    box-shadow: none;
    text-shadow: none;
    height: 50px;
    font-family: 'Formular';
    min-width: 275px;
    position: relative;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin-right: 30px;
}

.jq-file__browse:after {
  content: "";
  position: absolute;
  background: url('../img/skreb.svg');
  background-repeat: no-repeat; 
  width: 22px;
  height: 22px;
  top: 14px;
  right: 44px;
}

.jq-file input {
  position: relative;
  width: 1%;
  height: 50px;
}

.jq-file:active .jq-file__browse {
  background: #1191D0;
  box-shadow: transparent;
}

.jq-file:hover .jq-file__browse {
  background: #1191D0;
}

.error__inn {
  font-family: HelveticaNeueCyr;
  font-weight: 100;
  font-size: 407.674px;
  line-height: 408px;
  color: #1191D0;
  padding: 100px 0;
}

.error__ttl {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #171717;
}

.error__text {
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}

.error__search-block {
  position: relative;
  background: transparent;
  height: auto;
  z-index: 10;
  padding: 140px 0 100px;
  display: block;
  top: auto;
}

.error__search-block .search-input {
  color: #262626;
  border-bottom: 1px solid #262626;
}

.error__search-block .search-input::placeholder {
  color: #262626;
}

.error__search-block .search-close {
  background: #1191D0;
}

.error__search-block .btn-search {
  color: #fff;
  background: #1191D0;
}

.error__search-block .btn-search:after {
  background-image: url(../img/bnt-str-w.svg);
}

.search .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #f8f8f8;
  padding-left: 60px;
  margin-left: -50px;
  margin-bottom: 40px;
}

.search {
  background: #f8f8f8;
}

.search .error__search-block {
  padding: 30px 0 70px;
}

.search__item {
  margin-bottom: 60px;
}

.search__item__img {
  width: 167px;
  height: 107px;
  margin-right: 53px;
}

.search__item__text {
  max-width: 875px;
}

.search__item__text a {
  display: block;
  color: #000;
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  line-height: 30px;
}

.search__item__text a:hover {
  color: #1191D0;
  text-decoration: underline;
}

.search-link__theme {
  font-family: HelveticaNeueCyr;
  font-size: 14px!important;
  line-height: 17px!important;
  color: #FFFFFF!important;
  padding: 7px 14px;
  background: #1191D0;
  border-radius: 5px;
  color: #fff;
  display: inline-block!important;
  margin-bottom: 13px;
}

.search__item:last-child {
  margin-bottom: 0;
}

.catalog-item__ttl {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #1191D0;
  display: block;
  margin-top: 60px;
}

.catalog-item a {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #000;
  display: block;
  margin: 40px 0;
}

.catalog-item a:hover {
  color: #1191D0;
  text-decoration: underline;
}

.catalog-item__inn{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.catalog-item {
  margin-bottom: 55px;
}

.catalog {
  padding-bottom: 80px;
}

.catalog .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding-left: 60px;
  margin-left: -60px;
  margin-bottom: 20px;
}

.catalog .section-ttl span {
  color: #1191D0;
}

.catalog__subttl {
  font-family: HelveticaNeueCyr;
  font-size: 30px;
  line-height: 35px;
}

.categor__text {
  max-width: 922px;
}

.categor__text p{
  margin-bottom: 35px;
}

.categor {  
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 780px 100%;
  margin-bottom: 90px;
}

.categor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categor__filter {
  background: #f8f8f8;
  padding: 65px 0 100px;
}

.categor-item__img {
  background: #eeeeee;
  height: 384px;
  overflow: hidden;
}

.categor-item__img img {
  width: 100%;
}

.categor-item {
  max-width: 500px;
  margin:  0px 0 35px;
  width: 32%;
}

.categor-item__ttl {
  color: #000;
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 30px 0 20px;
  display: block;
}

.categor-item__text {
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-size: 20px;
  line-height: 25px;
  color: #171717;
}

.categor-item__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.categor-item__list li {
  position: relative;
  padding-left: 30px;
  margin: 20px 0;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  line-height: 27px;
  color: #171717;
}

.categor-item__list li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url('../img/bl-gal.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
}

.seo-block {
  padding: 90px 0;
}

.seo-block p {
  margin-bottom: 30px;
}

.seo-block__ttl {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #171717;
  margin-bottom: 35px!important;
}

.seo-block__subttl {
  font-family: HelveticaNeueCyr;
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  color: #171717;
  margin: 20px 0 0px!important;
}

.seo-block a {
  text-decoration: underline;
  color: #1191D0;
}

.product .section-ttl {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  padding-left: 60px;
  margin-left: -50px;
  margin-bottom: 40px;
}

.section-ttl span {
  color: #1191D0;
}

.product-img__mini {
  border: 1px solid #C4C4C4;
  margin-bottom: 20px;
}

.products-img {
  border: 1px solid #C4C4C4;
  margin-bottom: 40px;
}

.product__btn {
  width: 285px;
  height: 60px;
  padding: 22px 40px;
}

.product__btn.btn:after {
    top: 23px;
    right: 40px;
}

.product-img-wpr {
  margin: 0 100px 0px 70px;
}

.product-description__ttl {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: #171717;
  margin-bottom: 25px;
}

.product-block {
  padding: 0 0 50px;
  position: relative;
}

.product-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}

.product-description__list {
  margin: 0;
  padding: 13px 0 15px;
  list-style: none;
}

.product-description__list li {
  position: relative;
  padding-left: 25px;
  margin: 13px 0;
  font-size: 18px;
  line-height: 30px;
}

.product-description__list li:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  background: #1191D0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.product-description__text {
  font-size: 16px;
  line-height: 23px;
  padding: 40px 0 0;
  position: relative;
}

.product-description__text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
}


