@media screen and (max-width: 1700px) {

	.about-index__inn::after{
	  right: -65px;
	}

	.prev-left {
		left: 100px;
	}

	.prev-right {
		right: 100px;
	}

	.main-slider .slick-dots {
		padding-left: 140px!important;
	}

	.subscribe::after {
		right: -77px;
	}

	.about-index__button {
		max-width: 470px;
	}
}

@media screen and (max-width: 1400px) {
	.about-index__button {
		width: 430px;
	}

	.about-index__link {
		margin-bottom: 9px;
	}

	.about-index__inn::after {
	  right: -36px;
	}

	.subscribe-block {
		margin-left: 50px;
	}

	.subscribe::after {
		width: 15%;
	}

	.prev-left {
		left: 60px;
	}

	.prev-right {
		right: 60px;
	}

	.header-submenu__link.main {
	  font-size: 18px;
  	  line-height: 22px;
	}

	.about-index__inn::before {
		display: none;
	}

	.news-inn .news-item {
    	width: 310px;
	}

	.about-index__button {
		width: 440px;
	}

	.about-index__inn::after {
		width: 37%;
	}

	.about-index__link-list {
		margin-right: 15px;
	}

	.about-block {
		width: 48%;
	}

	.about-index__text {
		width: 66%;
	}

}

@media screen and (max-width: 1200px) {
	.header-menu {
		justify-content: flex-end;
	}

	.about-index__button {
		width: 370px;
		padding: 18px 10px 21px;
		height: 60px;
	}

	.about-index__link {
		min-height: 34px;
		margin-bottom: 10px;
		font-size: 18px;
	}

	.about-index__link-list {
		max-width: 420px;		
	}

	.subscribe {
    	padding: 30px 0 30px;
	}

	.subscribe-block p {
		margin-bottom: 60px;
	}

	.subscribe-block {
		width: 38%;
		margin-left: 0px;
	}

	.subscribe-ttl {
		max-width: 45%;
		font-size: 40px;
    	line-height: 50px;
	}

	.about__img {
		margin-top: 50px;
	}
}

@media screen and (max-width: 1024px) {
	.about-index__img {
		display: none;
	}

	.about-index__block {
		flex-direction: column;
		padding-bottom: 40px;
	}

	.about-index__ttl-inn {
		margin-bottom: 15px;
		font-size: 40px;
    	line-height: 45px;
	}

	.about-index__ttl {
		max-width: 100%;
	}

	.about-index__text {
    	width: 100%;
	}

	.main-slider__block:before {
		background-size: 66% 100%;
	}

	.about-index__ttl-inn img {
		display: inline-block;
		width: 270px;
		margin: 0 0 15px 20px;
	}

	.about-index__ttl p {
		margin-bottom: 0
	}

	.about-index__text p {
		font-size: 16px;
	}

	.footer-item__link {
		font-size: 16px;
	}

	.footer-tel {
		font-size: 25px;
	}

	.about-block {
    	max-width: 427px;
	}

	.about__img {
		margin-top: 50px;
	}

	.section-ttl {
		font-size: 40px;
		line-height: 50px;
	}

	.about-index__button {
		font-size: 14px;
		max-width: 320px;
	}

	.about-index__item {
    	margin: 0 7px;
	}

	.about-index__link {
		font-size: 14px;
		min-height: 27px;
	}

	.about-index__link-list {
    	max-width: 329px;
	}

	.about-index__inn-ttl {
		font-size: 30px;
		font-weight: 700;
	}

	.about-index__inn p {
    	margin-bottom: 20px;
	}

	.about-index__inn-ttl {
		margin: 50px 0 0;
	}

	.novelty-item__img {
		height: 225px;
	}

	.news {
		padding: 50px 0 0;
	}

	.news-ttl__link {
		font-size: 18px;
		padding: 10px 15px;
	}

	.news-link__wpr {
		justify-content: flex-start;
		margin-left: -15px;
		padding: 27px 0 10px;
	}

	.news-item {
		padding: 20px 15px 15px;
	}

	.news-item__ttl {
		font-size: 16px;
		line-height: 22px;
	}

	.about-index {
		padding: 70px 0;
	}

	.subscribe-ttl {
    	max-width: 38%;
    	padding: 20px;
    	min-height: 336px;
	}

	.subscribe {
		overflow: hidden;
	}

	.subscribe::after {
		right: -50px;
	}

	.subscribe-form {
		max-width: 500px;
	}

	.subscribe-block {
    	width: 76%;
	}

	.subscribe::before {
		width: 36%;
	}

	.banner-ttl {
		font-size: 75px;
	}

	.banner-subttl {
		font-size: 25px;
		line-height: 30px;
	}

	.banner-text {
		font-size: 18px;
		max-width: 300px;
		line-height: 25px;
	}

	.btn-slider:after {
		top: 22px;
	    right: 36px;
	    width: 8px;
	    height: 10px;
	    background-size: contain;
	}

	.btn-slider {
		font-size: 11px;
		width: 200px;
    	height: 50px;
	    padding: 18px 29px;
	}
}

@media screen and (max-width: 992px) {
	

}

@media screen and (max-width: 768px) {
	.header-menu {
		display: none!important;
	}

	 .header__menu-toggle {
    	display: block;
  	}
  	.header__menu-toggle span {
    	display: block;
  	}
  	.header__menu-toggle--active span::before {
    	display: block;
  	}
  	.header__menu-toggle span::after {
    	display: block;
  	}

  	.header-wrp {
  		max-width: 92%;
  	}

  	.header-menu.active {
  		display: flex!important;
  	}
	
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 576px) {
 	
}

@media screen and (max-width: 425px) {
	
}


@media screen and (max-width: 375px) {
	

}

@media screen and (max-width: 320px) {
	
}